[Unit]
Description=Pine Actions Twist Flashlight

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/flashlight

[Install]
WantedBy=multi-user.target
