[Unit]
Description=Pine Actions Twist Flashlight

[Service]
TimeoutStartSec=5
Restart=always
ExecStart=/usr/bin/twist-flashlight

[Install]
WantedBy=multi-user.target
